body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  /* #1 */
  padding: 8px;
}

.title,
.content{
  /* #2 */
  margin-bottom: 8px;
}

.title {
  background: #e3f4ff;
  /* #3 */
  font-size: 16px;
  /* #4 */
  padding: 8px;
}

.content {
  background: #e3f4ff;
  /* #5 */
  padding: 16px 8px;
}

.button-container {
  background: #e3f4ff;
  /* #6 */
  padding: 8px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  /* #7 */
  margin: auto;
  /* #8 */
  padding: 8px 24px;
}
